boby{ 
  background-color: rgb(6, 241, 29);
  font-family: Bai jamjuree;  
}

#conteiner{
  display: flex;
}

.cartao{
  margim:Irem Irem;
}









footer{
    background-color: ;
     color: rgb(5, 4, 4);
     position:fixed;
     bottom: 0;
     width: 100;
     height: 2rem;
}

footer p{
    text-align: center
    font-size:0.6rem;
    margin-top:0.5rem;
}